# Example .env
PORT=3000
DEST_EMAIL=you@example.com
# Optional SMTP settings. If left empty, Ethereal preview will be used.
# SMTP settings example for GMX (use your GMX credentials during deployment)
# For GMX use STARTTLS on port 587 (set SMTP_SECURE=false and provide user/pass)
#SMTP_HOST=mail.gmx.net
#SMTP_PORT=587
#SMTP_USER=your-gmx-username@gmx.net
#SMTP_PASS=your-gmx-password
#SMTP_SECURE=false

# If your provider requires SSL on port 465 instead set SMTP_SECURE=true and SMTP_PORT=465
